* {
    margin: 0;
    padding: 0;

}


.row.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    width: 100%;
    padding-right: 12.5px;
    padding-left: 12.5px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center !important;
}


.gov-logo img {
    width: 65px;
}

.logo {
    width: 215px;
    float: right;
}

.font-xl {
    font-size: 25px;
    font-weight: 500;
}

.color-yellow {
    color: #ffff00;
}

.text-white {
    color: #ffffff !important;
}

.main-header {

    background: #ffff66;
    padding-top: 10px;
    padding-bottom: 10px;
}

header a {
    color: #17182c;
    /* border-right: 1px #000 solid; */
    list-style: none;
    text-decoration: none;
    height: 16px;
    padding: 4px;

}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;

}






.welcome-text {
    background: #cc0001;
    padding: 0px 10px;
    text-align: center;
    color: #ffffff;
    font-size: 23px;
    margin: auto;
    font-weight: 500;
    display: inline-block;
    width: 380px;
    border-radius: 10px;
}

.welcome-text-main {
    margin-top: -20px;
    margin-bottom: 15px;
}


.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12.5px;
    margin-left: -12.5px;
}




.home-stats-container {
    padding: 0;
    margin-bottom: 20px;
}

div.row {
    margin-bottom: 10px;
    width: 100%;
}

.home-stats {
    margin: 10px 0;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12.5px;
    margin-left: -12.5px;
}

.highlights-text {
    font-size: 25px;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;

}

.card-height {
    height: 154px;
    margin-bottom: 20px;
}


.card img {
    width: 50px;
    margin: auto;
    /* margin-bottom: 5px; */
}

.home-stats .card .count {
    font-size: 30px;
    color: #fff;
}






/* authentication styles  */

/* Dimensions */
:root {
    --prism-height: 350px;
    --prism-length: 250px;
    --prism-depth: var(--prism-length);
    --spacing: 20px;
    --br: 3px;
}

/* Colors */
:root {
    --text-light: #fff;
    --text-dark: #666;
    --blue: #03a9f4;
    --smoke: #f9f9fa;
    --coral: #ff5751;
    --navy-blue: #42509e;
    --green: #07ad90;
}

.wrapper {
    width: var(--prism-length);
    height: var(--prism-height);
    margin: 20px auto;
    perspective: 600px;
    text-align: left;
    
}

.rec-prism {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 0.5s ease-in;
}

.face {
    position: absolute;
    width: var(--prism-length);
    height: var(--prism-height);
    padding: var(--spacing);
    background: rgba(250, 250, 250, 0.96);
    border: 3px solid var(--green);
    border-radius: var(--br);
}

.face .content {
    color: var(--text-dark);
}

.face .content h2 {
    font-size: 1.2em;
    color: var(--green);
}

.face .content .field-wrapper {
    margin-top: calc(var(--spacing) * 1.5);
    position: relative;
}

.face .content .field-wrapper label {
    position: absolute;
    pointer-events: none;
    font-size: 0.85em;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    transition: all ease-in 0.25s;
    color: lighten(var(--text-dark), 20%);
}

.face .content input[type="text"],
.face .content input[type="password"],
.face .content input[type="submit"],
.face .content textarea {
    -webkit-appearance: none;
    appearance: none;
}

.face .content input[type="text"],
.face .content input[type="password"],
.face .content textarea {
    width: 100%;
    border: none;
    background: transparent;
    line-height: 2em;
    border-bottom: 1px solid var(--green);
    color: var(--text-dark);
}

.face .content input[type="text"]:focus,
.face .content input[type="password"]:focus,
.face .content textarea:focus,
.face .content input[type="text"]:not(:placeholder-shown),
.face .content input[type="password"]:not(:placeholder-shown),
.face .content textarea:not(:placeholder-shown) {
    +label {
        top: -35%;
        color: var(--navy-blue);
    }
}

.face .content input[type="submit"] {
    cursor: pointer;
    width: 100%;
    background: var(--green);
    line-height: 2em;
    color: var(--text-light);
    border: 1px solid var(--green);
    border-radius: var(--br);
    padding: calc(var(--spacing) / 4);
}

.face .content input[type="submit"]:hover {
    opacity: 0.9;
}

.face .content input[type="submit"]:active {
    transform: scale(0.96);
}

.face .content textarea {
    resize: none;
    line-height: 1em;
}

.face .content textarea:focus,
.face .content textarea:not(:placeholder-shown) {
    +label {
        top: -25%;
    }
}

.face .thank-you-msg {
    position: absolute;
    width: 200px;
    height: 130px;
    text-align: center;
    font-size: 2em;
    color: var(--green);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.face .thank-you-msg:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 25px;
    border: 10px solid var(--green);
    border-right: 0;
    border-top: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    animation: success ease-in 0.15s forwards;
    animation-delay: 2.5s;
}

.face-front {
    transform: rotateY(0deg) translateZ(calc(var(--prism-length) / 2));
}

.face-top {
    height: var(--prism-depth);
    transform: rotateX(90deg) translateZ(calc(var(--prism-depth) / 2));
}

.face-back {
    transform: rotateY(180deg) translateZ(calc(var(--prism-length) / 2));
}

.face-right {
    transform: rotateY(90deg) translateZ(calc(var(--prism-length) / 2));
}

.face-left {
    transform: rotateY(-90deg) translateZ(calc(var(--prism-length) / 2));
}

.face-bottom {
    height: var(--prism-depth);
    transform: rotateX(-90deg) translateZ(calc(var(--prism-height) - (var(--prism-depth) / 2)));
}

.nav {
    margin: var(--spacing) 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    list-style-type: none;
    font-size: 1em;
    margin: 0 calc(var(--spacing) / 2);
    color: var(--navy-blue);
    position: relative;
    cursor: pointer;
}

.nav li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    border-bottom: 1px solid var(--navy-blue);
    transition: all ease-in 0.25s;
}

.nav li:hover:after {
    width: 100%;
}

.psw,
.signup,
.singin {
    display: block;
    margin: var(--spacing) 0;
    font-size: 0.75em;
    text-align: center;
    color: var(--navy-blue);
    cursor: pointer;
}

small {
    font-size: 0.7em;
}

@keyframes success {
    from {
        transform: translate(-50%, -50%) rotate(0) scale(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
}