/* Demo Styles */
.template-demo>.btn-group .btn {
    margin: 0 !important;
}

.template-demo .progress {
    margin-top: 1.5rem;
}

.template-demo>h2,
.template-demo>h3,
.template-demo>h4,
.template-demo>h5,
.template-demo>h6,
.template-demo>h1 {
    border-top: 1px solid #dee2e6;
    padding: 0.5rem 0 0;
}

.template-demo .ul-slider.noUi-horizontal {
    margin-top: 2rem;
}

.template-demo .ul-slider.noUi-vertical {
    margin-right: 2rem;
}

.template-demo .dropdown {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.template-demo nav .breadcrumb {
    margin-bottom: 1.375rem;
}

.template-demo nav:last-child .breadcrumb {
    margin-bottom: 0;
}

.template-demo .editable-form>.form-group {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;
}

.template-demo .circle-progress {
    padding: 15px;
}

.demo-modal {
    position: static;
    display: block;
}

.demo-modal .modal-dialog {
    margin-top: 0 !important;
}

.demo-modal .modal-dialog.modal-lg {
    max-width: 100%;
}

.documentation {
    padding-top: 0;
    max-width: 100%;
}

.documentation .content-wrapper {
    padding-top: 0;
    min-height: calc(100vh - 63px);
}

.doc-table-contents,
.doc-header {
    position: fixed;
}

.doc-header {
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 2;
    background: #F3F3F3;
}

.doc-content {
    padding-top: 157px;
}

.doc-table-contents {
    overflow: auto;
    max-height: calc(100% - 157px);
}

.doc-table-contents ul li {
    margin-top: 10px;
}

.doc-table-contents ul li:before {
    font-size: .5rem;
}

.doc-credits ul li {
    margin-bottom: 10px;
}

.doc-credits ul li a {
    margin-left: .25rem;
}

.demo_blank_card.card-1 {
    height: 100vh;
    min-height: 400px;
}

.demo_blank_card.card-2 {
    height: 320px;
}

.demo_blank_card.card-3 {
    height: 500px;
}

.loader-demo-box {
    width: 100%;
    height: 200px;
}