/* Dropdowns */
.dropdown .dropdown-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dropdown .dropdown-toggle:after {
    border: none;
    content: "\F140";
    font-family: "Material Design Icons";
    font-size: 20px;
    color: #fff;
    text-rendering: auto;
    line-height: inherit;
    vertical-align: 0;
}

.dropdown .dropdown-toggle.arrow-disabled {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown .dropdown-toggle.arrow-disabled:focus,
.dropdown .dropdown-toggle.arrow-disabled:visited,
.dropdown .dropdown-toggle.arrow-disabled:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown .dropdown-toggle.arrow-disabled:after {
    display: none;
}

.dropdown-menu {
    font-size: 0.875rem;
    border: 1px solid #dee2e6;
}

@media (max-width: 992px) {
    .dropdown-menu {
        position: unset;
    }
}

.dropdown-menu .dropdown-header {
    background: #fff;
    color: #212529;
}

.dropdown-menu .dropdown-header * {
    background: inherit;
    color: inherit;
}

.dropdown-menu a:not([href]):not([tabindex]):hover.dropdown-item,
.dropdown-menu a:not([href]):not([tabindex]):focus.dropdown-item {
    background: #fff;
    color: #212529;
}

.dropdown-menu a:not([href]):not([tabindex]):hover.dropdown-item:hover,
.dropdown-menu a:not([href]):not([tabindex]):focus.dropdown-item:hover {
    background: #fbfbfb;
    color: #212529;
}

.dropdown-menu a:not([href]):not([tabindex]):hover.dropdown-item:active,
.dropdown-menu a:not([href]):not([tabindex]):focus.dropdown-item:active {
    background: initial;
}

.dropdown-menu .dropdown-item {
    background: #fff;
    color: #212529;
}

.dropdown-menu .dropdown-item:hover {
    background: #fbfbfb;
    color: #212529;
}

.dropdown-menu .dropdown-item:active {
    background: initial;
}

.dropdown-menu.dropdown-menu-left {
    left: 0 !important;
    right: auto !important;
}

@media (max-width: 991px) {
    .dropdown-menu.dropdown-menu-left {
        right: 0 !important;
    }
}

.dropdown-menu.dropdown-menu-right {
    left: auto !important;
    right: 0 !important;
}

@media (max-width: 991px) {
    .dropdown-menu.dropdown-menu-right {
        left: 0 !important;
    }
}