/* Fonts */
.text-twitter {
    color: #4DBFF5;
}

.text-facebook {
    color: #648ACA;
}

.text-google {
    color: #E55F4B;
}

.text-linkedin {
    color: #0177b4;
}

.text-pinterest {
    color: #cc2127;
}

.text-youtube {
    color: #e52d27;
}

.text-github {
    color: #333333;
}

.text-behance {
    color: #1769ff;
}

.text-dribbble {
    color: #ea4c89;
}

.text-reddit {
    color: #ff4500;
}

.bg-twitter {
    background: #4DBFF5;
}

.bg-facebook {
    background: #648ACA;
}

.bg-google {
    background: #E55F4B;
}

.bg-linkedin {
    background: #0177b4;
}

.bg-pinterest {
    background: #cc2127;
}

.bg-youtube {
    background: #e52d27;
}

.bg-github {
    background: #333333;
}

.bg-behance {
    background: #1769ff;
}

.bg-dribbble {
    background: #ea4c89;
}

.bg-reddit {
    background: #ff4500;
}