/* Forms */
.input-group-append,
.input-group-prepend {
    background: #fff;
    color: #6c757d;
    width: auto;
    border: none;
}

.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
    background: transparent;
    border-color: #dee2e6;
}

.form-control {
    display: inline-block;
    border: 1px solid #dee2e6;
    font-family: "roboto", sans-serif;
    font-size: 0.75rem;
    color: #212529;
    padding: 0 .75rem;
    line-height: 14px;
    font-weight: 300;
}

.form-control.form-control-lg {
    padding: 0.5rem 0.75rem;
}

.form-control.form-control-sm {
    padding: 0.25rem 0.75rem;
}

textarea.form-control {
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

select.form-control {
    padding: 0.4375rem 0.75rem;
}

.form-group label {
    font-size: 0.875rem;
    line-height: 1;
    vertical-align: top;
}

.form-group.has-danger .form-control {
    border-color: #ff6258;
}

.form-group .file-upload-default {
    visibility: hidden;
    position: absolute;
}

.form-group .file-upload-info {
    background: transparent;
}