body,
html {
    overflow-x: hidden;
    padding-right: 0 !important;
}

*:-moz-full-screen,
*:-webkit-full-screen,
*:fullscreen *:-ms-fullscreen {
    overflow: auto !important;
}

.scroll-container {
    position: relative;
}

.scroll-container.horizontally {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

.scroll-container.vertically {
    overflow-y: hidden;
    height: 100%;
    max-height: 100%;
}

pre {
    padding: 15px;
    font-size: 14px;
}

/* Utilities */
.logo {
    width: 150px;
    max-width: 100%;
}

.grid-margin {
    margin-bottom: 25px;
}

@media (min-width: 576px) {
    .grid-margin-sm-0 {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .grid-margin-md-0 {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .grid-margin-lg-0 {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .grid-margin-xl-0 {
        margin-bottom: 0;
    }
}

.rounded-circle[class*='img'] {
    position: relative;
    overflow: hidden;
}

.rounded-circle[class*='img'] .flag-icon {
    position: absolute;
    top: auto;
    left: -10px;
    right: 0;
    bottom: auto;
    width: calc(100% + 20px);
    height: 100%;
    display: block;
    margin: auto;
}

.img-curved {
    border-radius: 10px;
}

.img-raised {
    -webkit-box-shadow: 0 4px 8px 0 rgba(42, 55, 71, 0.15);
    box-shadow: 0 4px 8px 0 rgba(42, 55, 71, 0.15);
}

.img-lg {
    width: 92px;
    min-width: 92px;
    height: 92px;
}

.img-md {
    width: 60px;
    min-width: 60px;
    height: 60px;
}

.img-sm {
    width: 43px;
    min-width: 43px;
    height: 43px;
}

.img-xs {
    width: 32px;
    min-width: 32px;
    height: 32px;
}

.img-ss,
.table td img:not(.thumb-image),
.table th img:not(.thumb-image) {
    width: 35px;
    min-width: 35px;
    height: 35px;
}

.img-curved {
    border-radius: 10px;
}

.display-avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 43px;
    min-width: 43px;
    height: 43px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100%;
}

.stretch-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
}

.stretch-card>.card {
    width: 100%;
    min-width: 100%;
}

.dot-indicator {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.dot-indicator.dot-indicator-sm {
    width: 6px;
    height: 6px;
}

.border-indicator {
    width: 10px;
    height: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #dee2e6;
    border-radius: 100%;
}

.dropdown-divider {
    border-color: #dee2e6;
}

@media (min-width: 576px) {
    .border-right-sm {
        border-right: 1px solid #dee2e6;
    }
}

@media (min-width: 768px) {
    .border-right-md {
        border-right: 1px solid #dee2e6;
    }
}

@media (min-width: 992px) {
    .border-right-lg {
        border-right: 1px solid #dee2e6;
    }
}

@media (min-width: 576px) {
    .border-left-sm {
        border-left: 1px solid #dee2e6;
    }
}

.border-strong {
    border-color: #131619;
}

.count-wrapper {
    position: relative;
}

.count-wrapper .count {
    position: absolute;
    width: auto;
    min-width: 8px;
    min-height: 8px;
    padding: 2px 4px;
    font-size: 75%;
    line-height: 1;
    vertical-align: middle;
    border-radius: 100%;
    color: #ffffff;
    font-weight: 500;
}

.count-wrapper .count.top-right {
    top: -5px;
    right: 0;
}

.count-wrapper .count.bottom-right {
    bottom: -5px;
    right: 0;
}

.count-wrapper .count.bottom-left {
    bottom: -5px;
    left: 0;
}

.count-wrapper .count.top-left {
    top: -5px;
    left: 0;
}

@media (min-width: 768px) {
    .border-left-md {
        border-left: 1px solid #dee2e6;
    }
}

@media (min-width: 992px) {
    .border-left-lg {
        border-left: 1px solid #dee2e6;
    }
}

.text-gray,
.card-subtitle {
    color: #212529;
}

.text-black {
    color: #000;
}

.flex-grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.ellipsis {
    max-width: 95%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.no-wrap {
    white-space: nowrap;
}

.status-indicator {
    border-width: 2px;
    border-style: solid;
    border-color: #ffaf00;
    border-radius: 100%;
    display: inline-block;
    height: 8px;
    width: 8px;
}

.status-indicator.online {
    border-color: #19d895;
}

.status-indicator.offline {
    border-color: #2196f3;
}

.status-indicator.away {
    border-color: #ffaf00;
}

.bg-transparent {
    background: transparent;
}

.aligner-wrapper {
    position: relative;
}

.aligner-wrapper .absolute {
    position: absolute;
}

.aligner-wrapper .absolute.absolute-center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.aligner-wrapper .absolute.left {
    left: 0;
}

.aligner-wrapper .absolute.right {
    right: 0;
}

.aligner-wrapper .absolute.bottom {
    bottom: 0;
}

.aligner-wrapper .absolute.top {
    top: 0;
}

.v-strock-1 {
    width: 2px;
}

.v-strock-2 {
    width: 3px;
}

.v-strock-3 {
    width: 4px;
}

.v-strock-4 {
    width: 5px;
}

.h-strock-1 {
    height: 2px;
}

.h-strock-2 {
    height: 3px;
}

.h-strock-3 {
    height: 4px;
}

.h-strock-4 {
    height: 5px;
}

.list {
    padding-left: 0;
}

.list.list-noborders .list-item {
    border: none;
}

.list .list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 30px 0;
}

.list .list-item:first-child {
    padding-top: 0;
}

.list .list-item:last-child {
    padding-bottom: 0;
}

.text-transparent {
    opacity: 0.6;
}

.text-avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
}