/* Preview */
.preview-list .preview-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    border-bottom: 1px solid #dee2e6;
}

.preview-list .preview-item:last-child {
    border-bottom: 0;
}

.preview-list .preview-item .form-check {
    margin-top: 8px;
    margin-right: 1rem;
}

.preview-list .preview-item .preview-thumbnail {
    color: #ffffff;
    position: relative;
}

.preview-list .preview-item .preview-thumbnail .preview-icon,
.preview-list .preview-item .preview-thumbnail img {
    border-radius: 100%;
}

.preview-list .preview-item .preview-thumbnail .preview-icon {
    padding: 6px;
    text-align: center;
}

.preview-list .preview-item .preview-thumbnail .preview-icon i {
    font-size: 1.125rem;
}

.preview-list .preview-item .preview-thumbnail .badge {
    border: 2px solid #dee2e6;
    border-radius: 100%;
    bottom: 5px;
    display: block;
    height: 14px;
    left: -5px;
    padding: 0;
    position: absolute;
    width: 14px;
}

.preview-list .preview-item .preview-item-content {
    line-height: 1;
    padding-left: 1.5rem;
    color: #212529;
}

.preview-list .preview-item .preview-item-content:first-child {
    padding-left: 0;
}

.preview-list .preview-item .preview-item-content p {
    margin-bottom: 10px;
}

.preview-list .preview-item .preview-item-content p .content-category {
    font-family: "roboto", sans-serif;
    padding-right: 15px;
    border-right: 1px solid #dee2e6;
}

.preview-list .preview-item .preview-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.preview-list .preview-item .preview-actions i {
    width: 29px;
    color: #f7f7f9;
    height: 29px;
    border: 2px solid #f7f7f9;
    border-radius: 100%;
    padding: 3px 6px;
    display: inline-block;
}

.preview-list .preview-item .preview-actions i:first-child {
    margin-right: 10px;
}

.preview-list.comment-preview .preview-item {
    padding: 0.87rem 0;
}

.preview-list.comment-preview .preview-item:first-child {
    padding-top: 0;
}

.preview-list.comment-preview .preview-item p {
    line-height: 27px;
}

.preview-list.bordered .preview-item {
    border-bottom: 1px solid #dee2e6;
}

.preview-list.bordered .preview-item:last-child {
    border-bottom: 0;
}