/*social buttons*/
.btn-twitter {
    background: #4DBFF5;
    color: #ffffff; }
    .btn-twitter:hover {
      background: #1daef2; }
    .btn-twitter.btn-link {
      background: none;
      color: #4DBFF5; }
      .btn-twitter.btn-link:hover {
        color: #1daef2; }
  
  .btn-facebook {
    background: #648ACA;
    color: #ffffff; }
    .btn-facebook:hover {
      background: #406ebb; }
    .btn-facebook.btn-link {
      background: none;
      color: #648ACA; }
      .btn-facebook.btn-link:hover {
        color: #406ebb; }
  
  .btn-google {
    background: #E55F4B;
    color: #ffffff; }
    .btn-google:hover {
      background: #dd3820; }
    .btn-google.btn-link {
      background: none;
      color: #E55F4B; }
      .btn-google.btn-link:hover {
        color: #dd3820; }
  
  .btn-linkedin {
    background: #0177b4;
    color: #ffffff; }
    .btn-linkedin:hover {
      background: #015581; }
    .btn-linkedin.btn-link {
      background: none;
      color: #0177b4; }
      .btn-linkedin.btn-link:hover {
        color: #015581; }
  
  .btn-pinterest {
    background: #cc2127;
    color: #ffffff; }
    .btn-pinterest:hover {
      background: #a01a1f; }
    .btn-pinterest.btn-link {
      background: none;
      color: #cc2127; }
      .btn-pinterest.btn-link:hover {
        color: #a01a1f; }
  
  .btn-youtube {
    background: #e52d27;
    color: #ffffff; }
    .btn-youtube:hover {
      background: #c21d17; }
    .btn-youtube.btn-link {
      background: none;
      color: #e52d27; }
      .btn-youtube.btn-link:hover {
        color: #c21d17; }
  
  .btn-github {
    background: #333333;
    color: #ffffff; }
    .btn-github:hover {
      background: #1a1a1a; }
    .btn-github.btn-link {
      background: none;
      color: #333333; }
      .btn-github.btn-link:hover {
        color: #1a1a1a; }
  
  .btn-behance {
    background: #1769ff;
    color: #ffffff; }
    .btn-behance:hover {
      background: #0050e3; }
    .btn-behance.btn-link {
      background: none;
      color: #1769ff; }
      .btn-behance.btn-link:hover {
        color: #0050e3; }
  
  .btn-dribbble {
    background: #ea4c89;
    color: #ffffff; }
    .btn-dribbble:hover {
      background: #e51e6b; }
    .btn-dribbble.btn-link {
      background: none;
      color: #ea4c89; }
      .btn-dribbble.btn-link:hover {
        color: #e51e6b; }
  
  .btn-reddit {
    background: #ff4500;
    color: #ffffff; }
    .btn-reddit:hover {
      background: #cc3700; }
    .btn-reddit.btn-link {
      background: none;
      color: #ff4500; }
      .btn-reddit.btn-link:hover {
        color: #cc3700; }
  
  /*social buttons*/
  .btn-social-outline-twitter {
    background: transparent;
    border-color: #4DBFF5;
    color: #4DBFF5; }
    .btn-social-outline-twitter:hover {
      background: rgba(77, 191, 245, 0.2); }
  
  .btn-social-outline-facebook {
    background: transparent;
    border-color: #648ACA;
    color: #648ACA; }
    .btn-social-outline-facebook:hover {
      background: rgba(100, 138, 202, 0.2); }
  
  .btn-social-outline-google {
    background: transparent;
    border-color: #E55F4B;
    color: #E55F4B; }
    .btn-social-outline-google:hover {
      background: rgba(229, 95, 75, 0.2); }
  
  .btn-social-outline-linkedin {
    background: transparent;
    border-color: #0177b4;
    color: #0177b4; }
    .btn-social-outline-linkedin:hover {
      background: rgba(1, 119, 180, 0.2); }
  
  .btn-social-outline-pinterest {
    background: transparent;
    border-color: #cc2127;
    color: #cc2127; }
    .btn-social-outline-pinterest:hover {
      background: rgba(204, 33, 39, 0.2); }
  
  .btn-social-outline-youtube {
    background: transparent;
    border-color: #e52d27;
    color: #e52d27; }
    .btn-social-outline-youtube:hover {
      background: rgba(229, 45, 39, 0.2); }
  
  .btn-social-outline-github {
    background: transparent;
    border-color: #333333;
    color: #333333; }
    .btn-social-outline-github:hover {
      background: rgba(51, 51, 51, 0.2); }
  
  .btn-social-outline-behance {
    background: transparent;
    border-color: #1769ff;
    color: #1769ff; }
    .btn-social-outline-behance:hover {
      background: rgba(23, 105, 255, 0.2); }
  
  .btn-social-outline-dribbble {
    background: transparent;
    border-color: #ea4c89;
    color: #ea4c89; }
    .btn-social-outline-dribbble:hover {
      background: rgba(234, 76, 137, 0.2); }
  
  .btn-social-outline-reddit {
    background: transparent;
    border-color: #ff4500;
    color: #ff4500; }
    .btn-social-outline-reddit:hover {
      background: rgba(255, 69, 0, 0.2); }